@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #27130C;
  --foreground: white;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brown: #27130C;
  --color-sephia: #C5A785;
  --color-lightbrown:#582D14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Playfair", serif;
}

h1 {
  font-family:  "Montserrat", sans-serif;
}
